<h1>Responses to '<%= @form.name %>'</h1>

<table>
  <thead>
    <tr>
      <th>Response ID</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>

        <td><%= link_to response.id, form_response_path(response.form ,response) %></td>
        <td><%= response.created_at.to_formatted_s(:short) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>




