<h1><%= @form.name %></h1>

<%= render :partial => 'form' %>

<link rel="stylesheet" href="/formbuilder/bower_components/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="/formbuilder/formbuilder.css" />
<style>

    .fb-container {
        background-color: #444;
        font-family: sans-serif;
        padding:50px;
    }

    .fb-main {
        background-color: #fff;
        border-radius: 5px;
        min-height: 600px;
    }


    pre {
        background: #eee;
        padding: 10px;
        border: 2px solid #c94a29;
        overflow: hidden;
        margin: 0 0 15px 0;

        font-family: Courier, Monospace;
    }


    .sticky-top {
        position: fixed;
        top: 0;
    }
    .sticky-bottom{
        position:absolute;
        bottom:0;
    }

</style>


<div class="fb-container">

    <div class="fb-main"></div>

</div>

<script src="/formbuilder/bower_components/jquery/jquery.js"></script>
<script src="/formbuilder/bower_components/jquery-ui/ui/jquery.ui.core.js"></script>
<script src="/formbuilder/bower_components/jquery-ui/ui/jquery.ui.widget.js"></script>
<script src="/formbuilder/bower_components/jquery-ui/ui/jquery.ui.mouse.js"></script>
<script src="/formbuilder/bower_components/jquery-ui/ui/jquery.ui.draggable.js"></script>
<script src="/formbuilder/bower_components/jquery-ui/ui/jquery.ui.droppable.js"></script>
<script src="/formbuilder/bower_components/jquery-ui/ui/jquery.ui.sortable.js"></script>
<script src="/formbuilder/bower_components/jquery.scrollWindowTo/index.js"></script>
<script src="/formbuilder/bower_components/underscore/underscore-min.js"></script>
<script src="/formbuilder/bower_components/underscore.mixin.deepExtend/index.js"></script>
<script src="/formbuilder/bower_components/rivets/dist/rivets.js"></script>
<script src="/formbuilder/bower_components/backbone/backbone.js"></script>
<script src="/formbuilder/bower_components/backbone-deep-model/src/deep-model.js"></script>

<script src="/formbuilder/formbuilder.js"></script>

<script>
    $(function(){


        var currentForm = <%= @form.render_json %>;
        var form_fields = currentForm.form_fields;


        fb = new Formbuilder('.fb-main',
        {
            bootstrapData: form_fields
        });

        //fixing the left menu here...
        $window = $(window);
        $fbMain = $('.fb-main');
        $fbFloatMenu = $('.fb-left');
        fbFloatMenuTop = $fbFloatMenu.offset().top;
        fbMainBottom = $fbMain.offset().top + $fbMain.outerHeight(true);


        $window.unbind('scroll');//clear out the broken function from formbiulder.js

        //bind it to our working function...
        $window.on('scroll', function(){

//console.log(($window.scrollTop()+$fbFloatMenu.outerHeight(true))+' '+fbMainBottom); //yea this seems to have the right numbers.



            $fbFloatMenu.toggleClass('sticky-top', ($window.scrollTop() > fbFloatMenuTop) && (($window.scrollTop()+$fbFloatMenu.outerHeight(true)) < fbMainBottom));

            $fbFloatMenu.toggleClass('sticky-bottom',( ($window.scrollTop()+$fbFloatMenu.outerHeight(true)) >= fbMainBottom));



        });



        fb.on('save', function(payload)
        {
            //console.log(payload);
            $.ajax({
                url: '<%= update_form_fields_path(@form) %>',
                method: 'PUT',
                data: JSON.parse(payload)
                //complete: function(response)
                //{
                //    $("#response").html(response.responseText);
                //}
            })
        })






    });
</script>



<!--
<div class="well">
  <span>Copy and paste this code into your html to embed your form on an external site.</span>
  <pre id="codebox">
    <code>
      <%= @paste_code %>
    </code>


  </pre>

</div>

  -->